@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


a.active {
  @apply text-primary;
}

.container{
  @apply max-w-7xl mx-auto md:py-4
}

.dashNav a.active {
  @apply bg-primary text-primary-content
}